@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS Variables based on project design */
@layer base {

    :root {
        --very-dark-blue: 218, 11%, 8%;
        --dark-blue: 213, 19%, 18%;
        --light-gray: 216, 12%, 63%;
        --medium-gray: 217, 12%, 54%;
        --orange: 25, 97%, 53%;
        --pure-white: 0, 0%, 100%;

    }

}